.form {
  border: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 4px;
  gap: 4px;
}
.container {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.boxWrapper {
  display: flex;
  align-items: center;
  gap: 3px;
}
.input {
  outline: none;
  border: 1px solid var(--grey);
  transition: var(--transition);
  font-size: 16px;
  padding: 2px;
  width: 7.7vw;
}
.tax {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.radioGroup label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: normal;
  cursor: pointer;
}
