.contentTitle {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
}
.contentTitle::after {
  content: " ";
  width: 2px;
  height: 26px;
  background-color: var(--grey);
  display: block;
  margin-left: 8px;
}
