:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1vw;

  --color-primary: black;
  --color-primary-hover: #0366d6;
  --color-primary-error: #dc2100;
  --color-secondary: #030022;
  --color-secondaryBg: #96bec37a;
  --grey: rgb(189, 185, 185);
  --light-gray: #f5f5f5;
  --white: #fff;
  --dark-blue: #043772;
  --transition: all 0.3s ease-in-out;
}
#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 1rem;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-primary);
  background-color: var(--white);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}
